.special-link, button {
  background: #1DA64A;
  color: white !important;
  padding: 10px;
  text-transform: inherit;
  border: none;
  border-radius: 4px;
  letter-spacing: normal;
  font-size: 15px;
  font-weight: 700;
  line-height: 1em;
  display: inline-block;
  margin-top: 5px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  box-shadow: 6px 6px 0px 0px #1b7340;
  -webkit-box-shadow: 6px 6px 0px 0px #1b7340;
  text-decoration:none;
}
body {
  background: #1B7340 url(https://fridaysforfuture.de/erde_hell.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 120% 20%;
  background-size: 120%;
}
.special-link:hover{
    background-color: #90D3ED;
}
