table {
  border-collapse: collapse;
  border: 5px solid black;
  background-color: #549670;
  font-color: black;
}
th {
  text-align: center;
}
th, td {
  border: 5px solid black;
  padding: 15px;
}
span {
  font-family: monospace;
}
button {
  font-family: Jost;
  font-size: 14px;
}
