body {
  background: #1B7340 url(https://fridaysforfuture.de/erde_hell.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 120% 20%;
  background-size: 120%;
  color: white;
  font-family: Jost;
  text-align: center;
}
h1 {
  font-size: 36pt;
}
p {
  font-size: 24pt;
  text-align: center;
}
img {
  padding: 10px;
  width: 50%;
}
