body {
  background-color: #bfa88e;
  color: white;
  font-family: Jost;
  text-align: center;
}
h1 {
  font-size: 36pt;
}
p {
  font-size: 24pt;
  text-align: center;
}
img {
  padding: 10px;
  width: 50%;
}
