body {
  color: white;
  font-family: Jost;
  height: 100%;
  text-align: left;
}
html {
  height: 90%;
}
h1 {
  font-size: 24pt;
}
p {
  font-size: 16pt;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100%;
  z-index: 10;
}
#footer {
  right: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
@media (min-device-width: 577px){
    #footer{
        position:fixed;
        bottom:16px;
        text-align: right;
    }
}
@media (max-device-width: 576px){
    #footer{
        position:static;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
    }
}
#dl {
  font-size: 24pt;
  padding: 0.5em;
  padding-left:2em;
  padding-right:2em;
  background-color: #FF005C;;
}
#dl:hover {
  background-color: #90D3ED;
}
