body {
  color: white;
  font-family: Jost;
  height: 100%;
  text-align: left;
}
html {
  height: 90%;
}
h1 {
  font-size: 24pt;
}
p {
  font-size: 16pt;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100%;
}
#footer {
  height: 6%;
  padding-right: 0.5em;
  width: calc(100% - 2em);
  text-align: right;
}
@media (min-device-width: 577px){
    #footer{
        position:fixed;
        bottom:16px;
    }
}
@media (max-device-width: 576px){
    #footer{
        position:static;
    }
}
